body {
  font-family: lucida console,monospace;
  font-size: 17pt;
  color: #D5E1DD;
  background: #2B3E42;
}

img.icon{
  height: 1.5em;
}

td.name {
  width: 250px;
}

h1 {
  color: #F7F3E8;
  font-size: 1.5em;
}

.header {
  height: 100px;
}

.text {
  width: 1200px;
  font-size: 1em;
}

.small {  
  font-size: 0.5em;
}

